<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/templates.css}">
    <title>Transport Company</title>
</head>
<body>
    <h1 class="page-title" th:text="${company.name} + ' Vehicles'"></h1>
    <div class="ball-container">
        <div class="item-container" th:each="vehicle: ${companyVehicles}">
            <button class="ball">
                <h1 th:text="${vehicle.brand}"/>
                <p>category:</p>
                <p th:text="${vehicle.category}"/>
                <p>registration:</p>
                <p th:text="${vehicle.registrationNumber}"/>
            </button>
            <div class="ball-menu hide">
                <button class="small-ball small-ball--edit">edit</button>
                <button class="small-ball small-ball--delete">
                    <a th:href="@{'/delete-vehicle/' + ${vehicle.registrationNumber} + '/' + ${company.name}}">delete</a>
                </button>
            </div>
            <form class="small-form hide" th:action="@{'/edit-vehicle/' + ${vehicle.registrationNumber} + '/' + ${company.name}}" method="post">
                <input class="form-item form-input" th:value="${vehicle.brand}" type="text" name="brand" placeholder="brand" required>
                <input class="form-item form-input" th:value="${vehicle.registrationNumber}" type="text" name="registrationNumber" placeholder="registration" required>
                <select class="form-item form-input" th:value="${vehicle.category}" name="category" required>
                    <option selected value="" disabled>Select category</option>
                    <option value="B1">B1</option>
                    <option value="C1">C1</option>
                    <option value="C">C</option>
                    <option value="CE">CE</option>
                    <option value="D1">D1</option>
                    <option value="D">D</option>
                </select>
                <select class="form-item form-input" name="employeeUCN" required>
                    <option selected value="" disabled>Select driver</option>
                    <div th:each="driver : ${companyEmployees}">
                        <option th:text="${driver.name} + ' ' + ${driver.UCN}" th:value="${driver.UCN}"></option>
                    </div>
                </select>
                <button class="form-item form-button" type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
<script>
    let companies = document.querySelectorAll(".item-container");
    companies.forEach(company => {
        let ball_menu = company.querySelector(".ball-menu");
        let ball =  company.querySelector(".ball");
        let ball_edit = company.querySelector(".small-ball--edit");
        let small_form = company.querySelector(".small-form");
        ball.addEventListener("click", () => {
            ball_menu.classList.toggle("hide");
        });
        ball_edit.addEventListener("click", () => {
            small_form.classList.toggle("hide");
        });
    });
</script>
</html>